.helpContent {
    text-align: initial;
    width: 50%;
    margin: auto;
    font-size: large;
    margin-top: 3em;
}

.mainButtons {
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}