.btn-gradient {
    background: rgba(211, 211, 211, 0.8);
    /* background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(138, 137, 137) 100%); */
    border-radius: 8px;
    padding: .8em;
    width: 8em;
    margin-right: 2em;
    box-shadow: 1px 1px;
    font-weight: bolder;
}

.row {
    margin: auto !important;
}

.btn-container {
    width: 30%;
    margin: auto;
}

.timer-col {
    padding: 1.5em;
}

.optionsRow {
    width: 50%;
    margin-left: 20%;
}