.loch2 {
    font-size: 1.3rem;
    margin-left: 0em;
}

.loctext {
    font-size: 1rem;
}

.fabcontainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3em;
    width: 80%;
}

.pictureButton {
    margin-top: 1em;
}

.picture {
    width: 100%;
    max-width: 250px;
    margin-left: 2em;
}

.MuiFormLabel-root {
    color: white !important;
}

.MuiFormHelperText-root {
    color: white !important;
}

.timerDiv {
   display: flex;
   justify-content: center;
   height: 2em;
}

.signs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    margin-top: 4em;
    background-color: white;
    z-index: 999;
    border: 5px solid rgba(152, 152, 152, 0.8);
    border-radius: 5px;
}

.signsHelp {
    width: 90%;
    margin-top: 1em;
}

.info {
    font-size: large;
    font-style: oblique;
    text-justify: inter-character;
    padding: 2em;
}
